* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-width: 320px;
}

body {
    color: #000;
    line-height: 1;
    font-family: "Montserrat";
    font-size: 1.125rem;
    font-weight: 600;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
    font-family: "Montserrat";
    font-size: inherit;
}

button {
    cursor: pointer;
    color: inherit;
    background-color: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

[class*=-ibg] {
    position: relative;
}

[class*=-ibg] img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

[class*=__container] {
    max-width: 101.875rem;
    margin: 0 auto;
    padding: 0 0.9375rem;
}

.note {
    height: 100vh;
    background: url(../images/note.jpg) no-repeat;
    background-size: cover;
}

.my-note {
    position: absolute;
    top: 0.3125rem;
    right: 0.9375rem;
    font-size: 2.5rem;
    color: black;
    font-weight: 900;
}

.buttons {
    padding: 0.9375rem;
    margin-left: 15.625rem;
}

@media (max-width: 710px) {
    .buttons {
        margin-left: 1.875rem;
    }
}

.ad,
.remove {
    padding: 0.625rem;
    margin-right: 3.125rem;
    font-size: 1.125rem;
    border-radius: 0.625rem;
    box-shadow: 6px 2px 8px rgb(74, 63, 63);
    color: black;
    transition: all 0.3s;
    margin-bottom: 1.875rem;
}

@media (min-width: 101.875em) {
    .ad,
  .remove {
        width: 10rem;
    }
}

@media (min-width: 20em) and (max-width: 101.875em) {
    .ad,
  .remove {
        width: calc(6.25rem + 3.75 * (100vw - 20rem) / 81.875);
    }
}

@media (max-width: 20em) {
    .ad,
  .remove {
        width: 6.25rem;
    }
}

@media (max-width: 870px) {
    .ad,
  .remove {
        margin-top: 3.75rem;
    }
}

@media (max-width: 370px) {
    .ad,
  .remove {
        margin-right: 1.25rem;
    }
}

.ad:hover,
.remove:hover {
    transform: scale(0.95);
}

.ad {
    background-color: rgb(102, 162, 102);
}

.remove {
    background-color: rgb(228, 83, 83);
}

.ad:active,
.remove:active,
.delete-note:active,
.save-note:active {
    border: 2px solid rgb(151, 15, 154);
    color: rgb(0, 0, 0);
    transform: scale(0.85);
    animation: active;
    transition: all 0.3s;
}

@keyframes active {
    0% {
        scale: 1;
    }

    25% {
        scale: 0.95;
    }

    50% {
        scale: 0.9;
    }

    75% {
        scale: 85;
    }
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    border-radius: 0.625rem;
    box-shadow: 0 0 10px black;
    width: 18.75rem;
    opacity: 0;
    visibility: hidden;
    background-color: white;
    z-index: 2;
}

.show {
    opacity: 1;
    visibility: visible;
    animation: show;
    animation-duration: 0.5s;
}

@keyframes show {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    25% {
        opacity: 0.3;
        visibility: visible;
    }

    50% {
        opacity: 0.5;
        visibility: visible;
    }

    75% {
        opacity: 0.8;
        visibility: visible;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

.error {
    color: red;
    text-align: center;
    letter-spacing: 2;
}

p {
    display: flex;
    justify-content: center;
    padding: 8px 0;
    font-size: 1.25rem;
    color: rgb(113, 113, 221);
}

.category {
    padding: 0 15px;
}

#category {
    border: 1px solid black;
    border-radius: 0.3125rem;
    padding: 0.3125rem;
    background-color: rgb(255, 245, 245);
}

.text {
    margin-left: 0.9375rem;
    width: 90%;
    max-height: 12.5rem;
    height: 6.25rem;
    min-width: 16.875rem;
    max-width: 16.875rem;
    padding: 0 0.9375rem;
    font-size: 1.125rem;
    border: 1px solid black;
    border-radius: 0.3125rem;
    background-color: rgb(255, 245, 245);
}

.delete-note,
.save-note {
    padding: 5px 20px;
    margin: 10px 20px;
    border-radius: 0.3125rem;
    background-color: red;
    color: white;
    box-shadow: 0 0 0 black;
    transition: all 0.5s;
}

.save-note {
    background-color: green;
}

.save-note:hover,
.delete-note:hover {
    transform: scale(0.95);
}

.note-items {
    display: flex;
    flex-wrap: wrap;
}

.note-item {
    width: 12.5rem;
    border: 1px solid black;
    border-radius: 0.9375rem;
    box-shadow: 1px 1px 2px 1px;
    background-color: rgb(243, 243, 117);
    padding: 0.625rem;
    margin: 5px 15px;
    position: relative;
    align-self: start;
}

.note-name {
    font-size: 1.25rem;
    text-align: center;
    margin-bottom: 0.9375rem;
    border-bottom: 1px solid black;
}

.note-body {
    padding: 0 0.625rem;
    max-width: 12.5rem;
    word-wrap: break-word;
}

.delete {
    position: absolute;
    top: 0.625rem;
    right: 0.625rem;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s;
}

.delete:hover {
    transform: rotate(180deg);
}